<%= content_tag :div, class: 'media', id: "favorite-#{favorite.id}" do %>
<div class= "media" >
  <div class= "media-body" >
    <p> <%= favorite.post.body %></p>
    <p> <%= favorite.</p>
  </div>
</div>
<% end %>