 h1 {
   color: red;
 }
 
  #index-title {
   text-align: center;
   font-size: 15px;
   color: blue;
 }
 
  .posts {
   border: solid;
   margin: 5px;
   padding: 5px;
   height: 200px;
 }
 
  section {
   background: #5998ff;
   border-style: solid;
   border-width: 5px;
   margin: 5px 5px 5px 5px;
   padding: 5px 5px 5px 5px;
 }
 
 .social-btn {
  position: relative;
  text-align: center;
  background: white;
  width: 100px;
  border: 1px #900;
  padding: 10px;
  margin: 0;
  
  
 }